* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Copperplate';
    font-weight: 300;
    font-size: 1rem;
}

html, body {
    height: 100%;
}


.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

/***** Landing Page ******/
.landing-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* display: none; */
}

.landing-page-top {
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
}   

.landing-page-bottom > h3{
    margin-bottom: 2vh;
    font-size: 1rem;
}

.landing-page-bottom > a:link, a:visited {
    color: #000000;
  }

.LOGO-Tagline {
    width: 276px;
    height: 308px;
    object-fit: contain;
  }

.landing-page-top > h2 {
    font-size: 2rem;
    text-align: center;
    color: #000000;
  }

.play-button {
    width: 250px;
    height: 70px;
    object-fit: contain;
    background-color: #bb0308;
    color: #fff;
    border-radius: 10px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}

body {
    background-image: url(../photos/beerbackground-01.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    box-shadow: 1px 3px 15px -6px rgba(0,0,0,0.41);
}
/***** END Landing Page ******/


/****** Slot Machine ******/

/****** Heading ******/

.heading {
    text-align: center;
    margin: 0 auto;
    height: 7vh;
    background-color: #003213;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

.heading-left {
    flex: 1;
}

.heading-middle {
    margin-top: 3vh;
    flex: 2;
}

.heading-right {
    align-self: center;
    display: flex;
    width: 25vw;
    color: #fff;
}

.win-btn, .how-btn {
    border: 1px #fff solid;
    padding: 10px 15px;
    border: 1px #fff solid;
    margin: 0 1vw;
    cursor: pointer;
}

/****** END Heading ******/


h1 {
    font-family: 'Pirata One', cursive;
    font-size: 6.6rem;
    margin: 0 auto;
    letter-spacing: 15px;
    text-transform: uppercase;
}

.total, .last-win, .last-bet {
    font-size: 1.5rem;
    padding: 10px;
}

.btn-amount {
    display: flex;
    margin: 50px 25%;
    transition: width 1s ease-in-out;
}

.imgcube {
    /* width: 50px;
    height: 100px; */
}

.cube-column1 img {
    height: 7vh;
}

.slot-container {
    display: none;
    margin: 0 auto;
    animation-name: fadein;
    animation-duration: 2s;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
}

.slots-background {
    border-radius: 50px;
}

.slots-row1, .slots-row2, .slots-row3 {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 45vw;
}

.winnings-column {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.slot-lever {
    display: flex;
    flex: 1;
    align-items: center;
}

.slot-lever > img {
    margin-right: 13vw;
    height: 32vh;
    cursor: pointer;
}

.slot-column1,
.slot-column2,
.slot-column3,
.slot-column4,
.slot-column5,
.slot-column6,
.slot-column7,
.slot-column8,
.slot-column9 {
    flex: 1;
    margin: 1vh 1vw;
    background-color: #ffffff;
    border: #686868 4px solid;
    align-items: center;
    display: flex;
    }
.slot-footer {
    display: flex;
    height: 10vh;
    align-items: center;
}

.bet-one, .bet-three, .bet-five {
    text-align: center;
    background-color: #ffffff;
    color: #000;
    flex: 1;
    padding: 1vh 1vw;
    border: #d59e29 4px solid;
    margin: 0 2vh;
    font-size: 1.5rem;
    cursor: pointer;
}

.twenty, .fifty, .hundred {
    font-family: 'Pirata One', cursive;
    display: flex;
    flex-flow: row;
    padding: 15px 25px;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px rgba(100, 100, 100, 0.219);
    width: 200px;
    height: 400px;
}

.twenty:hover, .fifty:hover, .hundred:hover,
.bet-one:hover, .bet-three:hover, .bet-five:hover {
    background-color: #19be1f}

.twenty:active, .fifty:active, .hundred:active,
.bet-one:hover, .bet-three:hover, .bet-five:hover {
    background-color: #35b139;
    box-shadow: 0 5px rgba(39, 39, 39, 0.404);
    transform: translateY(4px);
}

.center-slot-machine {
    display: flex;
    flex-direction: column;
    flex: 3;
    border-radius: 0 0 10px 10px;
    background-color: #252525;
}

.center-slot-machine-top {
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    width: 45vw;
    height: 10vh;
}

.bets > h3, .winnings > h3, .credits > h3 {
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
    line-height: 35px;
}

.center-slots-columns {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 84vh;
    margin-top: 6vh;
}

.center-slot-machine-middle {
    display: flex;
    flex-direction: column;
    padding: 2vh;
    align-content: center;
    width: 50vw;
    height: 78vh;
    border: #d59e29 6px solid;
    border-radius: 15px;
    background-color: #252525;
}

.center-slot-machine-bottom {
    display: flex;
    width: 50vw;
    height: 12vh;
    align-items: center;
}

.add-credit {
    flex: 3;
    text-align: center;
    background-color: #016d29;
    color: #ffffff;
    padding: 1vh 1vw;
    margin: 0 2vh;
    font-size: 1.5rem;
    cursor: pointer;
}

.cube-animation {
    display: none;
    width: 50px;
    height: 100px;
    perspective: 600px;
    margin-top: 20px;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: cube-slot-ani 1s 1s 3;
}

.cube-face {
    position: absolute;
    /* width: 50px;
    height: 100px; */
}

/* .cube-face-front  { transform: rotateY(  0deg) translateZ(100px); }
.cube-face-right  { transform: rotateY( 90deg) translateZ(100px); }
.cube-face-back   { transform: rotateY(180deg) translateZ(100px); }
.cube-face-left   { transform: rotateY(-90deg) translateZ(100px); }
.cube-face-top    { transform: rotateX( 90deg) translateZ(100px); }
.cube-face-bottom { transform: rotateX(-90deg) translateZ(100px); } */

.cube-column1 {
    /* width: 100%; */
    /* height: 100%; */
    /* position: relative;
    transform-style: preserve-3d;
    top: 20%; */
    /* display: flex; */
    /* left: 25%;
    align-items: center; */
    /* margin: 0 auto; */
}

/* .cube-face img {
    display: block;
margin: 0 auto;
} */

.bet1, .bet3, .bet5,
.total-points, .last-winning, .last-bet-made {
    /* margin: 5px auto; */
    text-align: center;
    background-color: #ffffff;
    color: #000;
    padding: 5px;
    border: #d59e29 4px solid;
    border-radius: 5px;
}

.tagline {
    height: 80px;
    width: 1000px;
    text-align: center;
    margin: 0px auto;
    padding: 20px;
    background: linear-gradient(to right, rgba(217,142,4,0) 0%,rgba(255, 165, 0, 0.6) 25%,rgb(255, 165, 4) 50%,rgba(255, 165, 4, 0.6) 75%,rgba(217,142,4,0) 100%);
}

.winnings, .bets, .credits {
    flex: 1;
    margin: 0 3vw;
    /* height: 60px;
    padding: 10px;
    text-align: center; */
    /* background: linear-gradient(to right, rgba(217,142,4,0) 0%,rgba(255, 165, 0, 0.6) 25%,rgb(255, 165, 4) 50%,rgba(255, 165, 4, 0.6) 75%,rgba(217,142,4,0) 100%); */
}

.how-to-play {
    width: 300px;
}

.win-chart {
    height: 75px;
    width: 200px;
}

/****** END Slot Machine ******/

/****** Animations ******/
@keyframes beer-background { 
    0%{background-position:0% 78%}
    50%{background-position:100% 23%}
    100%{background-position:0% 78%}
}

@keyframes winning-animation {
    0% {background-color: rgb(0, 255, 55);}
    50% {background-color: rgb(4, 121, 0);}
    100% {background-color: rgb(0, 255, 55);}
}

@keyframes background-animation {
    0% {background-color: green}
    25% {background-color: blue}
    50% {background-color: blueviolet}
    75% {background-color: red}
    100% {background-color: green}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes cube-slot-ani { 
    0% {
        transform: translateZ(-100px) rotateX( -90deg); background-color: green;
        /* top */
    }
    25% {
        transform: translateZ(-100px) rotateY(-180deg); background-color: red;
        /* back */
    }
    50% {
        transform: translateZ(-100px) rotateX(  90deg); background-color: blue;
        /* bottom */
    }
    75% {
        transform: translateZ(-100px) rotateX( -90deg); background-color: yellow;
        /* top */ 
    }
    100% {
        transform: translateZ(-100px) rotateY(   0deg); background-color: green;
        /* front */
    }
}

/* .how-to-wins-modals {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.74);
    display: flex;
    flex-direction: column;
    height: 100vh;
} */

/* .how-to-win-div > img,
.winnings-div > img {
    width: 60vw;
}

.how-to-win-div {
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;   
    /* display: none; */
/* } */

/* .winnings-div {
    height: 100vh;
    display: none;
} */

/* .close-btn-play {
    position: absolute; */
    /* background-image: url(../photos/close-x.png); */
    /* max-width: 2vw; */
    /* z-index: 5; */
    /* width: 40px;
    height: 40px; */
    /* background-position: center;
    background-repeat: no-repeat;
    background-attachment: cover;
    background-size: cover; */
    /* margin: 0 auto; */
    /* top: 1vh; */
    /* right: 2vw; */
    /* bottom: 65vh; */
    /* top: 32vh;
    cursor: pointer; */
/* } */ 

.how-to-win-modal,
.winnings-modal,
.add-credit-modal {
    /* display: none;  */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
}

.win-modal-content,
.winnings-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    /* border: 1px solid #888; */
    width: 80vw;
    border-radius: 15px;
}

.add-credit-content {
    display: flex;
    flex-direction: column;
    background-image: url(../photos/choose-amount-bkg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 75vw;
    height: 60vh;
    border-radius: 15px;
}

.amount-container-icons {
    display: flex;
    flex-direction: row;
}

.amount-fifty > img,
.amount-hundred > img,
.amount-hundred-fifty > img {
    width: 15vw;
    padding: 1vh 1vw;
}

.close-win,
.close-how   {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .win-modal-content > img,
  .winnings-modal-content > img {
    width: 75vw;
  }

  .visible {
      visibility: visible;
      opacity: 1;
      transform: scale(1.0);
      transition: opacity 0.25s ease, transform 0.25s ease;
  }

  /* .how-to-win-modal {
      display: none;
  } */