* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anonymous Pro', monospace;
}

body {
    /* background-color: antiquewhite; */
    background: linear-gradient(179deg, #ffc100, #ffee00, #ff9400);
    background-size: 600% 600%;
    animation: beer-background 3s ease infinite;
}

@keyframes beer-background { 
    0%{background-position:0% 78%}
    50%{background-position:100% 23%}
    100%{background-position:0% 78%}
}

@keyframes winning-animation {
    0% {background-color: rgb(0, 255, 55);}
    50% {background-color: rgb(4, 121, 0);}
    100% {background-color: rgb(0, 255, 55);}
}

@keyframes background-animation {
    0% {background-color: green}
    25% {background-color: blue}
    50% {background-color: blueviolet}
    75% {background-color: red}
    100% {background-color: green}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes cube-slot-ani { 
    0% {
        transform: translateZ(-100px) rotateX( -90deg); background-color: green;
        /* top */
    }
    25% {
        transform: translateZ(-100px) rotateY(-180deg); background-color: red;
        /* back */
    }
    50% {
        transform: translateZ(-100px) rotateX(  90deg); background-color: blue;
        /* bottom */
    }
    75% {
        transform: translateZ(-100px) rotateX( -90deg); background-color: yellow;
        /* top */ 
    }
    100% {
        transform: translateZ(-100px) rotateY(   0deg); background-color: green;
        /* front */
    }
}

h1 {
    font-family: 'Pirata One', cursive;
    font-size: 120px;
    margin: 0 auto;
    letter-spacing: 15px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Pirata One', cursive;
    font-size: 72px;
    margin: 0 auto;
}

h3 {
    font-family: 'Anonymous Pro', monospace;
    font-size: 36px;
}

.total, .last-win, .last-bet {
    font-size: 24px;
    padding: 10px;
}

p {
    text-align: center;
    line-height: 30px;
}

.enter-amount {
    display: flex;
    flex-direction: column;
    margin: 25px auto;
}

.btn-amount {
    display: flex;
    margin: 50px 25%;
    transition: width 1s ease-in-out;
}

.imgcube {
    width: 50px;
    height: 100px;
}

.container {
    display: none;
    background-color: antiquewhite;
    margin: 25px auto;
    animation-name: fadein;
    animation-duration: 4s;
    /* transition: height 350ms ease-out, opacity 750ms cubic-bezier(0, 0, 0.2, 1); */
}

.slots-background {
    border-radius: 50px;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
}

.slots-row1, .slots-row2, .slots-row3 {
    display: flex;
    /* margin: 25px; */
    margin-top: 40px;
}

.winnings-column {
    /* background-color: blue; */
    height: 600px;
    /* width: 300px; */
    margin-top: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.status-column {
    /* background-color: blue; */
    display: flex;
    margin-top: 10px;
    flex: 1;
    flex-direction: column;
    height: 600px;
    /* width: 300px; */
}

.slot-column1,
.slot-column2,
.slot-column3,
.slot-column4,
.slot-column5,
.slot-column6,
.slot-column7,
.slot-column8,
.slot-column9 {
    padding: 25px;
    height: 150px;
    width: 100px;
    margin: 0 20px;
    background-color: rgba(189, 191, 193, 0.8);
    transform-style: preserve-3d;
    border-radius: 15px;
    }
.bet-btns {
    display: flex;
    flex-direction: row;
    padding: 0px 35%;
    margin-bottom: 50px;
}

.bet-one, .bet-three, .bet-five {
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px rgba(100, 100, 100, 0.219);
    width: 100px;
    height: 100px;
    padding: 20px;
}

.twenty, .fifty, .hundred {
    font-family: 'Pirata One', cursive;
    display: flex;
    flex-flow: row;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px rgba(100, 100, 100, 0.219);
    width: 200px;
    height: 400px;
}

.twenty:hover, .fifty:hover, .hundred:hover,
.bet-one:hover, .bet-three:hover, .bet-five:hover {
    background-color: #19be1f}

.twenty:active, .fifty:active, .hundred:active,
.bet-one:hover, .bet-three:hover, .bet-five:hover {
    background-color: #35b139;
    box-shadow: 0 5px rgba(39, 39, 39, 0.404);
    transform: translateY(4px);
}


.center-slots-columns {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 25px;
}

.heading {
    text-align: center;
    margin: 20px auto;
}

.slot-rows {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: url(../photos/beerbackground-01.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 1px 3px 15px -6px rgba(0,0,0,0.41);
    animation: beer-background 20s infinite ease-in-out;
}

.cube-animation {
    display: none;
    width: 50px;
    height: 100px;
    perspective: 600px;
    margin-top: 20px;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: cube-slot-ani 1s 1s 3;
}

.cube-face {
    position: absolute;
    width: 50px;
    height: 100px;
}

.cube-face-front  { transform: rotateY(  0deg) translateZ(100px); }
.cube-face-right  { transform: rotateY( 90deg) translateZ(100px); }
.cube-face-back   { transform: rotateY(180deg) translateZ(100px); }
.cube-face-left   { transform: rotateY(-90deg) translateZ(100px); }
.cube-face-top    { transform: rotateX( 90deg) translateZ(100px); }
.cube-face-bottom { transform: rotateX(-90deg) translateZ(100px); }

.cube-column1 {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.bet1, .bet3, .bet5,
.total-points, .last-winning, .last-bet-made {
    margin: 15px auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 10px;
}

.tagline {
    height: 80px;
    width: 1000px;
    text-align: center;
    margin: 0px auto;
    padding: 20px;
    background: linear-gradient(to right, rgba(217,142,4,0) 0%,rgba(255, 165, 0, 0.6) 25%,rgb(255, 165, 4) 50%,rgba(255, 165, 4, 0.6) 75%,rgba(217,142,4,0) 100%);
}

.winnings, .bets, .how-play {
    height: 60px;
    padding: 10px;
    text-align: center;
    background: linear-gradient(to right, rgba(217,142,4,0) 0%,rgba(255, 165, 0, 0.6) 25%,rgb(255, 165, 4) 50%,rgba(255, 165, 4, 0.6) 75%,rgba(217,142,4,0) 100%);
}